{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@common": "./src/common",
              "@store": "./src/store"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@common": "./src/common",
              "@store": "./src/store"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@common": "./src/common",
              "@store": "./src/store"
            }
          }
        ]
      ]
    }
  }
}
