.icon {
  --size-icon: calc(var(--size-grid-unit) * 2);

  vertical-align: middle;
  display: inline-block;

  &--small {
    width: var(--size-icon);
    height: var(--size-icon);
  }

  &--medium {
    width: calc(var(--size-icon) * 1.5);
    height: calc(var(--size-icon) * 1.5);
  }

  &--large {
    width: calc(var(--size-icon) * 4);
    height: calc(var(--size-icon) * 4);
  }
}
